.promo {
    background: url('../img/mainscreen_bg.jpg') center center/cover no-repeat;
    padding-top: 20px;
    padding-bottom: 80px;
    &__descr {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 30px;
    }
    &__title {
        font-size: 54px;
        font-weight: 700;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        color: var(--color-acent);
        text-align: center;
        margin-bottom: 0;
    }
    &__subtitle {
        font-size: 40px;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        line-height: 40px;
    }
    &__divider {
        width: 9px;
        height: 9px;
        border-radius: 100%;
        background-color: #fff;
        margin: 40px auto;
        position: relative;
        &:before {
            content: "";
            display: block;
            // width: 385px;
            width: 25vw;
            height: 1px;
            background-color: #fff;
            position: absolute;
            // left: -395px;
            left: calc(-25vw - 10px);
            top: 4px;
        }
        &:after {
            content: "";
            display: block;
            // width: 385px;
            width: 25vw;
            height: 1px;
            background-color: #fff;
            position: absolute;
            left: 19px;
            top: 4px;
        }
    }
    &__triggers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: flex-start;
    }
    &__triggers-item {
        padding: 10px;
    }
    &__trigger-img {
        height: 60px;
        display: block;
        margin: 0 auto;
    }
    &__triggers-descr {
        text-align: center;
        color: #fff;
        margin-top: 15px;
    }
}
.nav {
    display: flex;
    color: #fff;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 90px;
        img {
            width: 100%;
        }
    }
    ul {
        list-style: none;
        padding-inline-start: 0px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        li {
            border-right: 1px dotted #878992;
            padding: 0 12px;
            &:last-child {
                border: none;
            }
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }
    &__phone {
        a {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
        }
    }
}